<ion-header [translucent]="true">
	  <ion-toolbar>
		      <ion-title> Videos </ion-title>
		        </ion-toolbar>
</ion-header>
<ion-content>
	  <ion-card class="ion-text-center" *ngIf="myparam == 'all'">
			            <ion-card-title>Toutes les videos ici</ion-card-title>


	  </ion-card>



	  <ion-card class="ion-text-center" *ngIf="myparam !== 'all'">
			      <ion-card-title>Voir toutes les videos de {{mysong.artist}} - {{mysong.title}}</ion-card-title>

	  </ion-card>
	  <ion-card class="ion-text-center" *ngIf="myparam !== 'all' && !isFileUploading">
		      <ion-card-header>

			            <ion-card-title>Choose Images to Upload</ion-card-title>
				        </ion-card-header>
					    <ion-card-content>
						          <ion-button color="primary" size="medium">
								          <input type="file" (change)="uploadImage($event.target.files)" />
									        </ion-button>
										    </ion-card-content>
										      </ion-card>
	  <ion-card class="ion-text-center" *ngIf="videoLoaded && Videos.length === 0">
		                                      <ion-card-title>Aucune vidéo pour le moment</ion-card-title>

						                </ion-card>
										        <!-- File upload progress bar -->
											  <div *ngIf="percentageVal | async as percentage">
												      Progress: {{ percentage | number }}%
												          <ion-progress-bar value="{{ percentage / 100 }}"></ion-progress-bar>
													    </div>
													      <div *ngIf="trackSnapshot | async as snap">
														          File size: {{ snap.totalBytes | formatFileSize }} Data transfered: {{
															      snap.bytesTransferred | formatFileSize }}
															        </div>
				    <ion-list>
					    <ion-item *ngFor="let video of Videos" class="user-list">

						                                                                                              <ion-label>

																		                                                                                                                <h5>
																																	<ion-icon name="headset-outline"></ion-icon> {{video.filename}} {{video.artist}} - {{video.title}}
																																																																							                                                                                                                                                                                                                                                                                                                                  </h5>

																																																																																																															                                                                                                                                                                      </ion-label>

																																																																																																																																			                                                                                                                                                                                <div class="item-note" item-end>


																																																																																																																																																										<a clear download="myfavicon" href="https://firebasestorage.googleapis.com/v0/b/accompa-u.appspot.com/o/filesStorage%2F{{video.filename}}?alt=media">


																																																																																																																																																																																																																																                    <ion-icon name="download-outline" style="zoom:2.0"></ion-icon>


																																																																																																																																																																																																																																		                          </a>

																																																																																																																																																																																																																																					  <button ion-button clear (click)="deleteVideo(video.$key)">

																																																																																																																																																																																																																																						                                                                                                                                                                                                                                                                                                                                                          <ion-icon name="trash" style="zoom:2.0"></ion-icon>





																																																																																																																																																																																																																																																																																	                  </button>

																																																																																																																																																																																																																																					                                                                </div>


																																																																																																																																																																																																																																													                                                                  </ion-item>
				    </ion-list>
				    <figure #videoContainer data-fullscreen="false">
					    		<video id="video" preload="metadata" poster="img/poster.jpg" src="https://firebasestorage.googleapis.com/v0/b/accompa-u.appspot.com/o/filesStorage%2F1710935918454_Te%20amare%20%20%20Miguel%20Bose%20y%20Laura%20Pausini.mp4?alt=media" (mute)="mute()" (ended)="ended()" (pause)="pause()" (play)="play()" (volumechange)="checkVolume()"  autoplay="autoplay"  autoplay playsinline style="pointer-events: none;">
							</video>
				    <div id="video-controls" class="controls" attr.data-state="{{dataState}}">
					    <button id="playpause" type="button" attr.data-state="{{dataStatePlay}}" (click)="playpause()">Play/Pause</button>
					        <button id="stop" type="button" attr.data-state="stop" (click)="stop()">Stop</button>
						  <div class="progress">
							  <progress id="progress" value="{{progressValue}}" min="0" max="{{maxProgress}}" (click)="myprogress($event)">
								            <span id="progress-bar"></span>
									        </progress>
										  </div>
										  <button id="mute" type="button" attr.data-state="{{dataStateMute}}" (click)="muteOk()">Mute/Unmute</button>
										      <button id="volinc" type="button" attr.data-state="volup" (click)="volinc()">Vol+</button>
										        <button id="voldec" type="button" attr.data-state="voldown" (click)="voldown()">Vol-</button>
											  <button id="fs" type="button" attr.data-state="go-fullscreen">Fullscreen</button>
				    </div>
				    <figcaption>
					    			&copy; video tutorial | <a href="http://mango.blender.org">mango.blender.org</a>
										</figcaption>
											</figure>

</ion-content>
